.container {
  display: flex;
  justify-content: space-between;
  /* margin: 0 10em; */
  /* margin-top: 3em; */
}
.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.dropdown {
  color: #00000080;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid #00000033;
  outline: #00000033;
  border-radius: 10px;
  padding: 10px 40px 10px 20px;
  appearance: none;
  background: url("../../assets/down\ arrow.png") no-repeat right 12px center;
  cursor: pointer;
}
.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* margin: 0 10em; */
  /* margin-top: 1em; */
  /* gap: 43px; */
}
.postCard {
  border: 1px solid #00000033;
  border-radius: 20px;
  padding: 20px;
}
.postImage {
  width: 205px;
  height: 120px;
  border-radius: 10px;
}
.postTitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 10px 0;
}
.postDescription {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.author_info {
  display: flex;
  align-items: center;
}
.arthurLogo {
  width: 36px;
  height: 36px;
  margin-top: 10px;
}
.authour_name {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}
.post_date {
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  color: #00000080;
}
@media (min-width: 320px) and (max-width: 767px) {
  .container {
    margin: 1em;
  }
  .posts {
    margin: 0;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .postCard {
    padding: 10px;
    margin: 0 1em;
  }
  .postImage {
    width: 280px;
    height: 170px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 2em 2em 0 2em;
  }
  .posts {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 0 2em;
    margin-top: 1em;
  }
}