.container {
  max-width: 1200px;
  margin-top: 1em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.seeAll {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #00000080;
  text-decoration: none;
  margin-right: 10px;
}

.seeAll::after {
  content: '>';
  margin-left: 5px;
  font-weight: 700;
}

.categories {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.categories::-webkit-scrollbar {
  display: none;
}

.categoryCard {
  background: #fff;
  border: 1px solid #EAEAEA;
  border-radius: 12px;
  width: 350px;
  height: 100px;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
}

.articleContent {
  margin-left: 20px;
  margin-bottom: 10px;
}

.categoryImage {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  margin-right: 10px;
  margin-left: 10px;
}

.categoryName {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: black;
  padding: 5px 0;
  white-space: nowrap;
}

.articleCount {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #555;
  display: flex;
  align-items: center;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.articleCountIcon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

/* Media Queries */
@media (max-width: 470px) {
  .categories {
    display: flex;
  }

  .slider {
    display: flex;
  }

  .categoryCard {
    width: 240px;
    height: auto;
  }

  .categoryName {
    font-size: 16px;
  }

  .articleCount {
    font-size: 12px;
  }
}

@media (max-width: 430px) {
  .title {
    font-size: 18px;
  }

  .seeAll {
    font-size: 14px;
  }

  .categoryCard {
    width: 120%; /* Increase the width to create more space */
    height: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px; 
  }

  .categoryName {
    font-size: 16px;
    padding-right: 5px;
    flex-grow: 1; 
    margin-left: 10px;
  }

  .articleCount {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 20px; 
  }
}

@media (min-width: 431px) and (max-width: 767px) {
  .title {
    font-size: 20px;
    }

  .seeAll {
    font-size: 15px;
  }

  .categories {
    flex-direction: row;
    overflow-x: auto;
  }

  .categoryCard {
    width: 300px;
    height: 90px;
  }

  .categoryName {
    font-size: 17px;
  }

  .articleCount {
    font-size: 13px;
  }
}




@media (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 22px;
  }

  .seeAll {
    font-size: 16px;
  }

  .categories {
    flex-direction: row;
    overflow-x: auto;
  }

  .categoryCard {
    width: 300px;
    height: 95px;
  }

  .categoryName {
    font-size: 18px;
  }

  .articleCount {
    font-size: 14px;
  }
}


@media (min-width: 1025px) and (max-width:1440px) {
  .container {
    max-width: 1200px; 
  }

  .title {
    font-size: 24px;
  }

  .seeAll {
    font-size: 16px;
  }

  .categories {
    flex-direction: row;
    overflow-x: auto;
  }

  .categoryCard {
    width: 400px; /* Adjust for larger screens */
    height: 100px;
  }

  .categoryName {
    font-size: 18px;
  }

  .articleCount {
    font-size: 14px;
  }
}

@media (min-width: 2560px) {
  .container {
    max-width: 2400px; 
    margin-top: 2em;
  }

  .title {
    font-size: 28px; 
  }

  .seeAll {
    font-size: 18px;
  }

  .categories {
    flex-direction: row;
    overflow-x: auto;
    gap: 30px; 
  }

  .categoryCard {
    width: 450px; 
    height: 120px;
  }

  .categoryName {
    font-size: 20px; 
  }

  .articleCount {
    font-size: 16px; 
  }
}

@media (min-width: 1441px) and (max-width: 2559px) {
  .container{
    max-width: 2400px;
  }

  .categoryCard {
    width: 600px; 
    height: 120px;
  }

  .articleCount {
    font-size: 18px; 
  }
  .categoryName {
    font-size: 22px;
  }

  .categoryImage{
    width: 80px;
    height: 80px;
  }


}
