.categories {
  display: flex;
  justify-content: space-between;
  /* margin: 0 10em; */
  margin-top: 3em;

}
.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.allCategories {
  display: flex;
  align-items: center;
}
.seeAll {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #00000080;
  text-decoration: none;
  margin-right: 10px;
}
.categories_card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 23px;
  /* margin: 0 10em; */
  margin-top: 1em;
}
.single_card {
  display: flex;
  border: 1px solid #00000033;
  border-radius: 20px;
  padding: 20px;
}
.categoryImage {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin-right: 30px;
}
.category_name {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}
.category_articles {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.articleCountIcon {
  margin-right: 5px;
  width: 25px;
  height: 25px;
}
.category_post_number {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #00000080;
}
@media (min-width: 320px) and (max-width: 767px) {
  .categories {
    margin: 1em;
  }
  .title,
  .seeAll,
  .category_name {
    font-size: 16px;
    line-height: 24px;
  }
  .categories_card {
    margin: 1em;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .category_post_number {
    font-size: 12px;
    line-height: 18px;
  }
  .articleCountIcon {
    width: 25px;
    height: 25px;
  }
}
@media (min-width:768px) and (max-width:1024px) {
  .categories {
    margin: 2em 2em 0em 2em;
  }
  .categories_card {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 0 2em;
    margin-top: 1em;
  }
  .title, .seeAll, .category_name {
    font-size: 16px;
    line-height: 24px;
  }
}